/*NOTES 


Empty Future Sections:
<section class="vinyl-Section"></section>
<section class="video-Section"></section>
<section class="vogue-Section"></section>
<section class="vibes-Section"></section>



When  building them:
If they’re hero-style category sections:

    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;








If they’re content grids try to use padding

.footerMaster {
    padding: 4rem 2rem 2rem 2rem;
}


think: is this full screen or content-driven

try to use- min-height = allows growth


full width content block....

<section class="fullWidthSection container-fluid">
  
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center min-vh-100">

        <div class="center-piece">
         Content A
        </div>

        <div class="center-piece">
          Content B
        </div>

    </div>

</section>






half width content block...

<section class="content-split container-fluid">
  <div class="row align-items-center">

    <div class="col-12 col-md-6 split-left">
      Left content
    </div>

    <div class="col-12 col-md-6 split-right">
      Right content
    </div>

  </div>
</section>
































*/





















#ourStorySec {
    scroll-margin-top: 21vh;
}

#contactSEC{ /* not in use.... redirect to contact page*/
    scroll-margin-top: 25vh;
}

#selectionSec{
    scroll-margin-top: 25vh;
}


:root {
    --nav-height: 21vh;
}


/* BEGIN FONTS */

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fascinate-regular {
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
}

.monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kavoon-regular {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
}

.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.diplomata-sc-regular {
    font-family: "Diplomata SC", serif;
    font-weight: 400;
    font-style: normal;
}

.bungee-hairline-regular {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.condiment-regular {
    font-family: "Condiment", cursive;
    font-weight: 400;
    font-style: normal;
}

.meddon-regular {
    font-family: "Meddon", cursive;
    font-weight: 400;
    font-style: normal;
}

.rubik-glitch-regular {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}

.rubik-puddles-regular {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.blaka-regular {
    font-family: "Blaka", system-ui;
    font-weight: 400;
    font-style: normal;
}


/* END FONTS */


/* BEGIN HTML AND MAIN FORMATING */
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);

    max-width: 100%;
    overflow-x: hidden;


}


header {

    width: 100vw;
    min-height: 20vh;

    display: flex;

    margin: 0;
    padding: 0;
}



main {
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    position: relative;
}

/* BEGIN HTML AND MAIN FORMATING */
























/* BEGIN CONTENT PROPER*/





/* BEGIN BEGIN top message popup ONLY */

:root {
    --popUpHeight: 4vh;
}

.TOPmessagePopUp {
    background-color: rgb(70, 0, 0);
    width: 100%;
    height: var(--popUpHeight);

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.TOPmessagePopUp > button {
    background: none;
    border: none;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.TOPmessagePopUp > button:hover {
    scale: 1.25;
    color: rgb(255, 217, 0);
}

/* use ONLY when popup is active */
.mainNav.withPopUp {
    top: var(--popUpHeight);
}

/* END top message popup ONLY */





/* BEGIN Full Page popup ONLY */


.fullPagePopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none; 

    justify-content: center;
    align-items: center;

    z-index: 2000;

}

.fullPagePopUpContent {
    position: relative;

    width: 60%;
    height: 80%;

    border: 5px solid rgb(39, 6, 0);
    background-color: rgba(101, 0, 0, 0.95);
    text-shadow: 2px 2px 10px rgb(255, 242, 0);
    color: white;
    font-family: "special elite";
    font-size: 1.5rem;    


    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    align-items:center ;
    padding: 2rem;

}


.fullPagePopUpClose {
    position: absolute;
    top: 10px;
    right: 10px;
/* all styles for close button (top right of box) */
    background: none;
    border: none;
    color: white;

    cursor: pointer;
}

.fullPagePopUpClose span {
    font-size: 2rem;
}

.fullPagePopUpClose:hover {
    color: rgb(255, 217, 0);
    transform: scale(1.2);
}


.fullPagePopUp.show {
    display: flex;
}

.ImgLogoSMALL{
    height: 5rem;
    
    width: 5rem;
}















/* END Full Page popup ONLY */







/* BEGIN BOOTSTRAP SPLIT AND FULL WIDTH variations. beginning with 50/50 split. */

section {
    width: 100%;
    position: relative;
}










.split-left {
    min-height: 50svh;
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.split-right {
    height: 50vh;
    background-color: red;


    display: flex;
    justify-content: center;
    align-items: center;
}








.fullWidthSection {
    min-height: 50svh;
}





.collectionHeroMaster {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 40%;
    min-height: 110svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-bottom: 10px solid black;

    position: relative;
    overflow: hidden;
}

.heroVidBG {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

.vinylCollectionHero>h1 {
    color: rgba(255, 210, 75, .9);
    text-shadow: 20px 0px 20px rgb(250, 0, 0), -20px 0px 5px rgb(0, 162, 250);

    filter: drop-shadow(-20px -10px 15px rgb(0, 0, 0));
    font-family: pacifico;
    font-size: clamp(7rem, 13vw + 1rem, 20rem);
    transform: translateY(-6rem);

    z-index: 1;
}

.heroButtons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 10svh;
    gap: 10rem;

    z-index: 1;
}

.heroBtn {
    background-image: url(/Images/navBG2.jpg);

    border: 5px solid black;
    border-radius: 30px;


    background-position: 50% 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;
    width: 80%;


    text-shadow: 3px 3px 1px black;

    font-family: 'Cherry Bomb One';
    font-size: clamp(1.5rem, 1.75svh, 2rem);

    flex: 1;


    transition: .5s;
}


@media (max-width: 770px) {

    .heroBtn {

        font-size: clamp(1rem, 1.25svh, 1.75rem);
    }


    .heroButtons {
        gap: 11vw;
        width: 400px;
    }


}

.heroBtn:hover {
    transition: .5s;

    background-position: 50% 100%;

    color: rgb(255, 234, 0);
    text-shadow: 1px 5px 2px rgb(255, 0, 0);
}





.collectionBlurb {
    background-image: url(/gifs/static.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 180svh;
    border-bottom: 10px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}



.tv-wrapper {
    position: relative;
    width: 80vw;
    max-width: 80svw;

}

.tvIMG {
    position: relative;
    width: 100%;
    display: block;
    z-index: 2;
}








.vidTest {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%, -70%);
    object-fit: cover;
    z-index: 1;

}




.blurbPG {
    position: absolute;



    /* Screen size */
    width: 75%;
    min-height: 75%;
    max-height: 95%;

    padding: 4rem;

    background-color: rgba(0, 0, 0, 0.75);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;


    text-shadow: 5px 0px 0px rgb(250, 0, 0), 1px -1px 20px rgb(0, 162, 250), 01px 01px 10px rgb(0, 0, 0);

    text-align: start;

    filter: drop-shadow(-2px -1px 1px rgb(0, 0, 0));

    overflow-y: auto;

    border-radius: 10%;
    z-index: 1;




    font-family: "Special Elite", system-ui;
    color: rgb(255, 255, 255);



    
    font-size: clamp(1.25rem, 2.5vw + .5rem, 4rem); /* min, pref(use vw +rem) , max*/


   


}












/* BEGIN DESKTOP NAV */

.mainNav {
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    border-bottom: 10px solid black;
    z-index: 100;
    width: 100%;
    height: var(--nav-height);
    display: flex;
    transition: top 0.4s ease-in-out; /* NEEDED FOR POPUP TRANSITION WHEN CLICK CLOSE. */

    background-image: url(/Images/navBG2.jpg);
    background-size: cover;
    background-position: 0% 80%;
}





.mainNavUnorderedList {
    /* main list for desktop size nav */

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin: 0;
    padding: 0;
    list-style: none;
}




.mainNavUnorderedList li {
    /* style that applies to each list item in the nav, NOT including rainbow record */
    height: 100%;
    width: 15%;
}

.mainNavUnorderedList a {
    /* styles the individual <a> link tags in the <li> tags in the nav <ul> list  */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.navHomeCircleLink {
    /* link for the rainbow record image */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
}


.navHomeCircleCenter {
    /* gradiant Circle in middle of rainbow record */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(216, 17, 17), rgb(93, 206, 174));

    z-index: 2;

    border: 10px solid black;
    border-radius: 50%;

    height: 75px;
    width: 75px;



    transform: translateY(11vh);


}

.navHomeCircleCenter>span {
    /* v4 text inside rainbow record */
    color: rgb(255, 210, 75);
    text-shadow: 3px 3px 2px rgb(250, 0, 0);
    font-family: "Limelight";
    ;
}




.navHomeImage {
    /* rainbow record */
    display: block;
    position: absolute;

    width: min(calc(var(--nav-height) * 1.25), 13vw);
    height: min(calc(var(--nav-height) * 1.25), 13vw);
    min-width: 85px;
    min-height: 85px;
    aspect-ratio: 1 / 1;
    object-fit: contain;

    z-index: 1;

    filter: drop-shadow(0px 0px 50px rgba(255, 235, 59, 0.7));
    will-change: transform;
}



.navLink {
    /* styles text on the nav links, about us, etc. */
    font-family: "Cherry Bomb One";
    text-shadow: 5px 5px 2px black;
    font-size: 2.5vw;
    font-weight: auto;
    transition: ease-in-out .25s;
}

/* Nav link hover AND keyboard focus */
.navLink>a:hover>span,
.navLink>a:focus>span {
    font-size: 3.2vw;
    color: rgb(255, 210, 75);
    text-shadow: 3px 3px 2px rgb(250, 0, 0);
    border-bottom: 5px solid red;
    transition: ease-in-out 0.25s;
    outline: none;
}

/*END normal NAV */



/*begin radial-links nav quadrants */

.radial-links {
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(225px, calc(var(--nav-height) * 1.75), 310px);
    height: clamp(225px, calc(var(--nav-height) * 1.75), 310px);
    aspect-ratio: 1 / 1;
    pointer-events: none;
    z-index: 0;
    border-radius: 50%;
    background-image: url(/Images/rainbow\ gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    filter: drop-shadow(1px 1px 50px white);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    will-change: transform, opacity;
    overflow: visible;
}

/* Wedge links */
.radial-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;

    overflow: visible;

}

/* Slice borders */
.radial-link::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background: transparent;
    border-radius: 50%;
    transform-origin: center;
}

/* Rotate each slice border */
.radial-link-1::before {
    transform: rotate(0deg);



}

.radial-link-2::before {
    transform: rotate(90deg);
}

.radial-link-3::before {
    transform: rotate(180deg);
}

.radial-link-4::before {
    transform: rotate(270deg);
}

/* Curved text for each slice using letters */
.radial-link span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;

    color: white;
    font-family: 'merriweather';

    overflow: visible;
}

/* Slice-specific curved text positioning */
.radial-link-1 span::before {
    transform: rotate(0deg);
}

.radial-link-2 span::before {
    transform: rotate(90deg);
}

.radial-link-3 span::before {
    transform: rotate(180deg);
}

.radial-link-4 span::before {
    transform: rotate(270deg);
}

/*end nav quadrants */

/*END DESKTOP NAV */




/* BEGIN MOBILE NAV... USE MEDIA QUERIES AS MASTER CONTAINTER SINCE MOBILE NAV ONLY DISPLAYS IN SMALL */
@media (min-width: 991px) {
    /* hides mobile nav and hamburger on screens larger than 991 px  */

    .mobile-menu-toggle {
        display: none;
    }

    .mobile-nav {
        display: none;
    }





}

/* MOBILE NAV ACTIVE STYLES.... what will show when the mobile nav is shown...  */

.mobile-static-icon {
    display: none;
}


@media (max-width: 768px) {

    .mobileNavWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 100vw;
        z-index: 300;
    }

    .mobileNavRainBowRecordMaster {
        width: 100%;
        height: 20vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mobileNavRainBowRecordMaster>a>h1 {
        color: white;
        position: absolute;
        align-self: center;
        justify-self: center;

        color: rgb(255, 210, 75);
        text-shadow: 3px 3px 2px rgb(250, 0, 0);
        font-family: "pacifico";
        ;
        font-size: 3rem;
        transform: translateY(1vh);
        transition: .5s;
    }


    .mobileStaticLink {
        width: 10%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-static-icon {
        position: fixed;
        display: inline-block;
        width: 100px;
        height: 100px;
    }

    .mobile-menu-toggle {
        font-size: 2rem;
        /* size of hamburger */
        cursor: pointer;
    }


}


@media (max-width:991px) {
    /* BEGIN MOBILE NAV AND Styling all mobile nav links and dropdowns. screens less than 991px wide */




    /* Hamburger container */
    .mobile-menu-toggle {
        display: inline-block;
        position: fixed;
        top: 4vh;
        right: 10vw;
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 200;
        color: white;
        transition: .5s ease-in-out;

        text-shadow: 0px 0px 30px white;
    }

    .mobile-menu-toggle:focus {
        color: rgb(255, 234, 0);
        transition: .5s ease-in-out;
        filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
        scale: 1.5;

        border-bottom: 2px solid red;

    }

    .mobile-menu-toggle:hover {
        color: rgb(255, 234, 0);
        transition: .5s ease-in-out;
        filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
        scale: 1.5;

    }



    /* Mobile menu container */
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 200vh;
        background-color: rgba(0, 0, 0, 0.8);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 20% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        z-index: 50;
        transform: translateY(-100vh);
        /* start hidden */
        transition: transform 0.5s ease;
        /* animate transform */
    }

    /* Active state: slide down */
    .mobile-nav.active {
        transform: translateY(11vh);
        /* fully visible */
    }





    .mobile-nav a {
        font-family: 'Cherry Bomb One';
        font-size: 2.5rem;
        color: white;
        text-shadow: 1px 5px 5px rgb(255, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;
    }


    .mobile-nav a:hover {
        font-family: 'Cherry Bomb One';
        font-size: 3rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 20px rgb(255, 0, 0);

        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;
    }






    .mobile-nav .navHomeCircleCenter {
        position: absolute;
        height: 60px;
        width: 60px;
        border: 8px solid black;
        transform: translateY(6vh);
        /* adjust vertical position */
    }

    .mobile-nav .navHomeImage {
        max-width: 20vw;
        /* smaller on mobile */
        z-index: 1;
        filter: drop-shadow(0px 0px 50px rgba(255, 235, 59, 0.7));
    }


    /* Remove default list styling and spacing from mobile nav ul and li */
    .mobile-nav ul,
    .mobile-nav li {
        list-style: none;
        /* remove bullets */
        margin: 0;
        /* remove default margin */
        padding: 0;
        /* remove default padding */
    }

    /* Make links inside mobile nav clean */
    .mobile-nav a {
        text-decoration: none;
        /* remove underline */
        display: block;
        /* full width clickable */
    }

    .MobileNavItemDropDown {
        position: relative;
        /* needed for absolute dropdown */
        list-style: none;
        text-decoration: none;
    }

    .mobileAboutUs {
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        transition: .5s ease-in-out;
    }





    /* Hide dropdown by default */
    .mobile-custom-dropdown {
        display: none;
        padding: 0;
        margin: 0;
        width: 45vw;
        z-index: 1000;
        border: 5px solid rgb(0, 0, 0);

        transition: .5s ease-in-out;

    }


    /* Style dropdown items */
    .mobile-custom-dropdown .custom-item {
        list-style: none;
    }

    .mobile-custom-dropdown .custom-link {
        font-family: 'Cherry Bomb One';
        font-size: 3rem;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        text-shadow: 1px 5px 5px rgb(255, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }

    .mobile-custom-dropdown .custom-link:hover {
        font-family: 'Cherry Bomb One';
        font-size: 3.5rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 2px rgb(0, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 10% 100%;
        transition: .5s ease-in-out;

    }

    /* Focus styles for links */
    .mobile-nav a:focus,
    .mobileAboutUs:focus {
        border-bottom: 6px solid red;
        outline-offset: 0x;
        font-size: 3.5rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 2px rgb(0, 0, 0);
    }

}


@media (max-width:700px) {
    /* BEGIN MOBILE NAV AND Styling all mobile nav links and dropdowns. screens less than 700px wide */


    .mobile-nav a {
        font-family: 'Cherry Bomb One';
        font-size: 2rem;
        color: white;
        text-shadow: 1px 5px 5px rgb(255, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;
    }

    .mobile-custom-dropdown .custom-link {
        font-family: 'Cherry Bomb One';
        font-size: 2rem;
        color: rgb(255, 255, 255);
        border: 1px solid white;
        text-shadow: 1px 5px 5px rgb(255, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }


    .mobile-nav a:hover {
        font-family: 'Cherry Bomb One';
        font-size: 2.5rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 20px rgb(255, 0, 0);

        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;
    }


    .mobile-custom-dropdown .custom-link:hover {
        font-family: 'Cherry Bomb One';
        font-size: 2.5rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 2px rgb(0, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 10% 100%;
        transition: .5s ease-in-out;

    }

    .mobile-custom-dropdown .custom-link:focus {
        font-family: 'Cherry Bomb One';
        font-size: 2.5rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 2px rgb(0, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 10% 100%;
        transition: .5s ease-in-out;

    }


    /* Focus styles for links */
    .mobile-nav a:focus,
    .mobileAboutUs:focus {
        border-bottom: 2.5px solid red;
        outline-offset: 0x;
        font-size: 2.5rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 20px rgb(255, 0, 0);
    }

}



@media (max-width:410px) {
    /* BEGIN MOBILE NAV AND Styling all mobile nav links and dropdowns. screens less than 410px wide */


    .mobile-nav a {
        font-family: 'Cherry Bomb One';
        font-size: 2rem;
        color: white;
        text-shadow: 1px 5px 5px rgb(255, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;
    }

    .mobile-custom-dropdown .custom-link {
        font-family: 'Cherry Bomb One';
        font-size: 2rem;
        color: rgb(255, 255, 255);
        border: 1px solid white;
        text-shadow: 1px 5px 5px rgb(255, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }


    .mobile-nav a:hover {
        font-family: 'Cherry Bomb One';
        font-size: 2.5rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 20px rgb(255, 0, 0);

        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;
    }


    .mobile-custom-dropdown .custom-link:hover {
        font-family: 'Cherry Bomb One';
        font-size: 2.25rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 2px rgb(0, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 10% 100%;
        transition: .5s ease-in-out;

    }

    .mobile-custom-dropdown .custom-link:focus {
        font-family: 'Cherry Bomb One';
        font-size: 2.25rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 2px rgb(0, 0, 0);
        text-decoration: none;
        text-align: center;
        transition: .5s ease-in-out;

        background-image: url(/Images/navBG2.jpg);
        background-position: 10% 100%;
        transition: .5s ease-in-out;

    }


    /* Focus styles for links */
    .mobile-nav a:focus,
    .mobileAboutUs:focus {
        outline: 2.5px solid red;
        outline-offset: 0x;
        font-size: 2.25rem;
        color: rgb(255, 234, 0);
        text-shadow: 1px 5px 20px rgb(255, 0, 0);
    }

}

/* END MOBILE NAV */







































/* hide Bootstrap’s default chevron on the trigger */
.nav-link.dropdown-toggle::after {
    display: none;
}


/* Target custom dropdown and override Bootstrap */
.dropdown-menu.custom-dropdown {
    padding: 0 !important;
    /* kill white padding */
    margin: 0;
    border: 0;
    border-radius: 0;
    min-width: 0 !important;
    /* override Bootstrap's min-width */
    width: 15vw;
    /* pick a width */
    height: 20vh;
    /* so any gaps aren’t white */
    list-style: none;
    background-image: url(/Images/navBG2.jpg);
    background-position: 10% 40%;

    position: absolute;
    transform: translateY(21vh) !important;
}



/* Dropdown Items */
.dropdown-menu.custom-dropdown .custom-item {

    background-image: url(/Images/navBG2.jpg);
    width: 100%;
    height: 10vh;
    border: none;
    /* No borders on items */
    cursor: pointer;
    /* Indicate clickability */
    font-size: 1.5vw;
    border: 2px solid rgb(0, 0, 0);
    transition: ease-in-out .5s;

}

/* Apply styles to .custom-item when hovered OR when its child is focused */
.dropdown-menu.custom-dropdown .custom-item:hover,
.dropdown-menu.custom-dropdown .custom-item:focus-within {
    background-image: url(/Images/navBG2.jpg);
    background-position: 50% 70%;
    font-size: 2vw;
    outline: none;
}

.dropdown-menu.custom-dropdown .custom-item:hover .custom-link span,
.dropdown-menu.custom-dropdown .custom-link:focus span {
    font-size: 2.5vw;
    transition: ease-in-out .5s;
    color: rgb(255, 191, 0);
    text-shadow: 5px 5px 1px rgb(0, 0, 0);
    border-bottom: 5px solid red;
    outline: none;
}

/* Remove default focus outline for all elements */
*:focus {
    outline: none;
}





.navHomeCenterItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14vw;
    min-width: 120px;
    height: var(--nav-height);
    isolation: isolate;

    transform: translateY(calc(var(--nav-height) * 0.035));
}

.WRAPPER {
    position: relative;
    width: min(calc(var(--nav-height) * 1.55), 16vw);
    height: min(calc(var(--nav-height) * 1.55), 16vw);
    min-width: 110px;
    min-height: 110px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}





.navHomeCircleLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}



/* END NAV */

/* BEGIN PRODUCT SECTION*/


.productSectionMasterDiv {
    display: flex;
    flex-direction: row;
    /* Side by side on larger screens */
    height: 100vh;
    /* Take up most of the viewport height */
    width: 100%;
    background-image: url(/Images/navBG3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 90%;
    overflow: hidden;
}



















/* Main product section*/

/* BEGIN HERO SECTION */

/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    width: 100%;
    background-image: url(/Images/navBG3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 90%;
    overflow: hidden;
}


.hero-left,
.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* LEFT HALF CONTENT */
.hero-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Center on mobile */
    padding: 20px;
}

@media (min-width: 768px) {
    .hero-left-content {
        align-items: flex-start;
        /* Left-align on medium+ screens */
    }
}

/* Tagline */
.hero-tagline {
    font-family: "Condiment";
    font-size: 3vw;
    color: whitesmoke;
    filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
}

.hero-tagline>a {
    text-decoration: none;
}

.hero-tagline>a>span {

    display: inline-block;
    font-family: "Pacifico";
    font-size: 7vw;
    letter-spacing: -.2rem;
    color: rgb(255, 191, 0);
    text-shadow: -5px 5px 5px red, -15px 15px 15px rgb(60, 0, 0);


    filter: drop-shadow(0px 0px 35px rgb(0, 81, 255));
    text-decoration: none;
    transition: 0.5s ease-in-out;

}

.hero-tagline>a>span:hover {

    transition: .5s ease-in-out;

    font-family: "Pacifico";
    transform: scale(1.5);
    letter-spacing: -.2rem;
    color: rgb(255, 233, 167);
    text-shadow: -5px 5px 5px rgb(175, 0, 0), -15px 15px 15px rgb(40, 0, 0), -10px 10px 5px rgb(20, 0, 0);

    filter: drop-shadow(0px 0px 50px rgb(255, 0, 0));


}







/* Title */
.hero-title {
    font-family: "Monoton";
    font-weight: 500;
    font-size: 7vw;
    letter-spacing: .5rem;
    margin: 0 0 15px 0;
    color: rgb(255, 191, 0);
    text-shadow: -5px 5px 5px rgb(250, 0, 0);


    filter: drop-shadow(0px 0px 50px rgb(255, 210, 62));
}

/* Subtitle */
.subtitleLinks>a {
    font-family: "Special Elite", system-ui;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    filter: drop-shadow(2px 2px 5px rgb(224, 245, 255));
    display: inline-block;
    /* Needed for transform animations */

    word-spacing: 100px;
    transition: .25s ease-in-out;


    /* Vibration animation */
    animation-name: vibrate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Subtitlte comma span tags */
.subtitleLinks>span {
    font-family: "Special Elite", system-ui;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    filter: drop-shadow(2px 2px 5px rgb(224, 245, 255));
    display: inline-block;
    /* Needed for transform animations */
}

/* Different vibration speeds and slight offsets */
.subtitleLinks>a:nth-child(1) {
    animation-duration: 2.15s;
}

.subtitleLinks>a:nth-child(3) {
    animation-duration: 4.12s;
}

.subtitleLinks>a:nth-child(5) {
    animation-duration: 3.18s;
}

.subtitleLinks>a:nth-child(7) {
    animation-duration: 4.50s;
}

@keyframes vibrate {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }

    10% {
        transform: translate(-1px, 1px) rotate(-1deg) scale(1.02);
    }

    20% {
        transform: translate(-1px, -1px) rotate(1deg) scale(0.98);
    }

    30% {
        transform: translate(1px, 1px) rotate(0deg) scale(1.01);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg) scale(0.99);
    }

    50% {
        transform: translate(-1px, 0px) rotate(-1deg) scale(1.02);
    }

    60% {
        transform: translate(0px, 1px) rotate(0deg) scale(1);
    }

    70% {
        transform: translate(1px, -1px) rotate(1deg) scale(0.98);
    }

    80% {
        transform: translate(-1px, 1px) rotate(-1deg) scale(1.01);
    }

    90% {
        transform: translate(1px, 0px) rotate(0deg) scale(1);
    }

    100% {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
}

.subtitleLinks>a:hover {
    align-self: center;
    color: rgb(255, 211, 80);
    text-shadow: -5px 5px 10px red, 10px 10px 5px rgb(60, 0, 0), -10px 10px 50px rgb(140, 165, 255);
    filter: drop-shadow(0px 0px 50px rgb(255, 0, 0));
    transition: .25s ease-in-out;
    font-size: 3vw;
    text-decoration: underline;
}

@media (max-width: 769px) {
    .subtitleLinks>a:hover {
        align-self: center;
        color: rgb(255, 211, 80);
        text-shadow: -5px 5px 10px red, 10px 10px 5px rgb(60, 0, 0), -10px 10px 50px rgb(140, 165, 255);
        filter: drop-shadow(0px 0px 50px rgb(255, 0, 0));
        transition: .25s ease-in-out;
        font-size: 6vw;
        text-decoration: underline;
    }
}




.hero-right {
    flex: 1;
    /* Makes both take up 50% each */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/*begin VIDEO + FRAME CONTAINE for hero section */



.heroRightVideoContainer {
    /* master inside the heroRIGHT div*/
    width: 70%;
    max-width: 650px;

    /*  match  tv frame  overall shape */
    aspect-ratio: 3 / 4;

    position: relative;
    overflow: hidden;

    border: 1px sold red;

}

/* THIS CONTROL THE VIDEO POSITION INSIDE  FRAME */
.videoScreen {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 65%;
    aspect-ratio: 1 / 1;
    z-index: 1;
    overflow: hidden;
    border: 2px solid lime;
}


/* VIDEO FILLS  SCREEN BOX */
.videoScreen>video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: bottom bottom;
}


/* FRAME SITS ON TOP */
.heroRightVideoContainer>.videoFrame {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    pointer-events: none;
}




/*end VIDEO + FRAME CONTAINE for hero section */

















/*End Hero */





/*BEGIN CTA call to action */

.CTA-section {
    background-image: url(/Images/navBG2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding: 4rem 2rem;


    transition: .75s ease-in-out;


    
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    align-items: center;
}














.CTABUTTON {

    height: 200px;
    width: 200px;
    min-width: 50px;
    min-height: 50px;
    padding: clamp (.75rem, 2vw, 1.25rem);
    /* min,prefered,max*/

    touch-action: manipulation;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    background-image: url(/Images/navBG3.jpeg);
    background-repeat: none;
    background-position: 50% 0%;
    border-radius: 100px;

    color: rgb(255, 234, 206);
    text-shadow: 5px 5px 2px black;
    font-family: 'Cherry Bomb One';
    font-size: 150%;
    line-height: 1.2;

    transition: .5s ease-in-out;
}


.CTABUTTON:hover {
    color: rgb(255, 210, 75);
    text-shadow: 3px 3px 2px rgb(250, 0, 0);
    transition: ease-in-out 0.25s;
    outline: none;
    font-size: 200%;
    line-height: 1.25;


    background-position: 60% 100%;


    transform: translateY(-4px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.35);


    transition: .25s ease-in-out;
}





.CTABUTTON:focus-visible {
    outline: 3px solid rgba(255, 210, 75, 0.9);
    outline-offset: 4px;
}





/* Hover transform bg styles*/

/* CTA SECTION BASE */

/* VIDEO BACKGROUND CONTAINER */
.cta-bg-video {
    position: absolute;
    inset: 0;
    z-index: 0;
}

/* EACH VIDEO LAYER */
.bg-video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* ACTIVE VIDEO */
.bg-video.active {
    opacity: 1;
}

/* KEEP BUTTONS ON TOP */
.CTABUTTON {
    position: relative;
    z-index: 2;

    /* your existing styles can stay */
    color: white;
    text-decoration: none;
}

/* OPTIONAL: add dark overlay for readability */
.CTA-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}



















/*END CTA call to action */


/*End Hero */



/*BEGIN CTA call to action */

.CTA-section {
    background-image: url(/Images/navBG2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
}



.CTABUTTON {

    height: 150px;
    width: 150px;
    min-width: 50px;
    min-height: 50px;
    padding: clamp (.75rem, 2vw, 1.25rem);

    touch-action: manipulation;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    background-image: url(/Images/navBG3.jpeg);
    background-repeat: none;
    background-position: 50% 0%;
    border-radius: 100px;

    color: rgb(255, 234, 206);
    text-shadow: 5px 5px 2px black;
    font-family: 'Cherry Bomb One';
    font-size: clamp(1rem, 1.6vw, 1.6rem);
    line-height: 1.2;

    transition: .5s;
}


.CTABUTTON:hover {
    color: rgb(255, 210, 75);
    text-shadow: 3px 3px 2px rgb(250, 0, 0);
    transition: ease-in-out 0.25s;
    outline: none;
    font-size: clamp (1.1rem, 1.8vw, 1.8rem);
    line-height: 1.25;


    background-position: 50% 100%;


    transform: translateY(-4px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.35);


}




.CTABUTTON {
    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        color 0.25s ease,
        text-shadow 0.25s ease,
        background-position 0.5s ease;
}

.CTABUTTON:focus-visible {
    outline: 3px solid rgba(255, 210, 75, 0.9);
    outline-offset: 4px;
}


/*END CTA call to action */

/* BEGIN Our Story Section */


.ourStory-Section {
    background-image: url(/Images/storyBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-width: 100vw;
    min-height: 100vh;
    padding: 6rem 2rem;
    max-width: 1100px;
    margin: 0 auto;



    width: 100vw;
    border-bottom: 10px solid black;
    overflow: hidden;
}

.storyTitle {
    min-width: 15%;
    /* smallest allowed */
    max-width: 70%;
    /* largest allowed */
    min-height: 25%;
    max-height: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    border-radius: 30px;
    font-family: 'Monoton';
    font-size: 5vw;
    border: 10px dotted #fced66;
    font-weight: 500;
    letter-spacing: .5rem;

    color: rgb(243, 255, 131);
    text-shadow: -5px 5px 10px red, 10px 10px 5px rgb(60, 0, 0), -10px 10px 50px rgb(140, 165, 255);


    filter: drop-shadow(0px 0px 50px rgb(255, 242, 140));


}



.storyParagraph {
    font-family: "Special Elite", system-ui;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-5vh);
}

@media (max-width: 710px) {
    .storyParagraph {
        transform: translateY(-6vh);
        font-size: 1vw;

    }
}

@media (max-width: 461px) {
    .storyParagraph {
        font-size: 17px !important;

    }
}



.storyParagraph>span {
    color: rgb(255, 255, 255);
    align-self: start;
    font-family: "condiment";
    letter-spacing: 5px;
}



/* END Our Story Section */



/* Begin V4 Selection Section */

.selectionSection {
    background-color: rgb(42, 21, 21);
    min-height: 60svh;
    max-height: 80svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/Images/navBG3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

.selectionSectionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;

    min-height: 15svh;

    max-height: 80svh;
}


.hereAtTextOnly {
    font-family: "Condiment";
    font-size: 5vw;
    color: whitesmoke;
    text-shadow: -15px 15px 15px rgb(154, 0, 0);
    filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
}

.V4TextOnly {
    font-family: "Pacifico";
    letter-spacing: -1.5rem;
    font-size: 10vw;
    display: inline-block;
    letter-spacing: -.5rem;
    color: rgb(255, 191, 0);
    text-shadow: -5px 5px 5px red, -15px 15px 15px rgb(60, 0, 0), -10px 10px 5px black;

    filter: drop-shadow(0px 0px 35px rgb(0, 195, 255));
    text-decoration: none;
    transition: .5s ease-in-out;
}



.V4TextOnly:hover {
    font-family: "Pacifico";
    transform: scale(1.5);
    letter-spacing: .5rem;
    text-decoration: none;
    transition: .5s ease-in-out;
    transform: scale(1.25);
    letter-spacing: -.2rem;
    color: rgb(255, 233, 167);
    text-shadow: -5px 5px 5px rgb(175, 0, 0), -15px 15px 15px rgb(40, 0, 0), -10px 10px 5px rgb(20, 0, 0);
    filter: drop-shadow(0px 0px 50px rgb(255, 0, 0));
}

.V4TextOnly:focus {
    font-family: "Pacifico";
    transform: scale(1.5);
    letter-spacing: .5rem;
    text-decoration: none;
    transition: .5s ease-in-out;
    transform: scale(1.25);
    letter-spacing: -.2rem;
    color: rgb(255, 233, 167);
    text-shadow: -5px 5px 5px rgb(175, 0, 0), -15px 15px 15px rgb(40, 0, 0), -10px 10px 5px rgb(20, 0, 0);
    filter: drop-shadow(0px 0px 50px rgb(255, 0, 0));
}

.vintageVendorsTextOnly {
    font-family: "Monoton";
    font-size: 5vw;
    letter-spacing: .5rem;
    margin: 0 0 15px 0;
    color: rgb(255, 225, 0);
    text-shadow: -5px 5px 5px rgb(250, 0, 0);


    filter: drop-shadow(0px 0px 25px rgb(255, 255, 255));
}

.vTextOnly {
    font-family: pacifico;
    font-size: 7.5vw;
    letter-spacing: vw;
    color: rgb(255, 191, 0);

    text-shadow: -5px 5px 5px rgb(255, 0, 0), -15px 15px 15px rgb(40, 0, 0), -10px 10px 5px rgb(20, 0, 0);

    filter: drop-shadow(0px 0px 35px rgb(0, 195, 255));
}







.isForTextOnly {
    font-family: "Condiment";
    font-size: 5vw;
    color: whitesmoke;
    text-shadow: -15px 15px 15px rgb(154, 0, 0);
    filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
}

/* END V4 Selection Section */


/* BEGIN FOOTER */

.footerMaster {
    width: 100%;
    padding: 4rem 2rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 5px solid black;
    background-image: url(/Images/navBG3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.footerInteriorContainer {
    width: 80%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.FooterColumn {
    flex: 1;
    min-width: 200px;
}

.FooterColumn>h4 {
    border-bottom: 2px solid white;
}

.logoFOOTERimg {
    height: 50px;
    width: 50px;
}

.logoANDName {
    text-align: left;
}

.FooterUL {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    list-style: none;
    padding: 0;
    margin: 0;

}

.FooterUL>li,
a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.FooterUL>li>a:hover {
    color: rgb(255, 225, 0);
}

.logoANDName span {
    border-bottom: 2px solid white;
}


.footerBottomROW {
    width: 100%;
    border-top: 1px solid white;
    transform: translateY(1rem);
    display: flex;
    text-align: center;
    justify-content: center;


}

.footerBottomROW>p>a {
    text-decoration: underline;
}

.footerBottomROW>p>a:hover {
    text-decoration: underline;

    color: rgb(255, 225, 0);
}


/* END FOOTER */




















/* RESPONSIVE: hero section on small screens */
@media (max-width: 768px) {




    .hero-section {
        flex-direction: column;
        min-height: 100vh;
    }

    .hero-left,
    .hero-right {
        width: 100%;
        min-height: 50vh;
    }


    .hero-tagline {
        font-family: "Condiment";
        font-size: 6vw;
        color: whitesmoke;
        filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
    }

    .hero-tagline>span {

        font-family: "Pacifico";
        font-size: 15vw;
        letter-spacing: .5rem;
        color: rgb(255, 191, 0);
        text-shadow: -5px 5px 5px red, -15px 15px 15px rgb(60, 0, 0), -10px 10px 5px black;


        filter: drop-shadow(0px 0px 35px rgb(0, 38, 255));

    }

    .hero-title {
        font-family: "Monoton";
        font-weight: 500;
        font-size: 12vw;
        letter-spacing: .5rem;
        margin: 0 0 15px 0;
        color: rgb(255, 191, 0);
        text-shadow: -5px 5px 5px rgb(250, 0, 0);


        filter: drop-shadow(0px 0px 50px rgb(255, 210, 62));


    }


    .subtitleLinks>a {
        font-family: "Special Elite", system-ui;
        font-size: 6vw;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        filter: drop-shadow(2px 2px 5px rgb(51, 185, 248));
        display: inline-block;
        /* Needed for transform animations */


        transition: .25s ease-in-out;


        /* Vibration animation */
        animation-name: vibrate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

}



/* END HERO SECTION*/



















/* BEGIN MEDIA QUERIES FOR NAVHOMECIRCLECENTER RAINBOW RECORD LINK/IMAGE */

/* EXTA Small devices... DOES NOT DISPLAY RECORD HOME IMAGES (≤767px) */
@media (max-width: 768px) {

    .navHomeCircleCenter,
    .navHomeImage {
        display: none !important;
    }
}

/* Medium devices BEGINS TO DISPLAY RECORD HOME IMAAGE (≥768px) */
@media (min-width: 768px) {


    .navHomeCircleCenter {
        width: 50px;
        height: 50px;
        border: 3px solid black;
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        transform: translateY(2vh);
    }
}

/* in between medium and large screens */
@media (min-width: 820px) {



    .navHomeCircleCenter {
        width: 50px;
        height: 50px;
        border: 3px solid black;
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
    }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {


    .navHomeCircleCenter {
        width: 65px;
        height: 65px;
        border: 3px solid black;
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        transform: translateY(2vh);
    }
}

/* between large and extra Large devices XL devices (≥1175px) */
@media (min-width: 1175px) {


    .navHomeCircleCenter {
        width: 70px;
        height: 70px;
        border: 3px solid black;
        transform: translateY(11vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        transform: translateY(2vh);
    }
}

/* extra Large devices XL devices (≥1200) */
@media (min-width: 1200px) {



    .navHomeCircleCenter {
        width: 75px;
        height: 75px;
        border: 3px solid black;
        transform: translateY(12vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 85px;
        transform: translateY(2vh);
    }
}

/* extra Large devices XL devices (≥1270) */
@media (min-width:1270px) {



    .navHomeCircleCenter {
        width: 75px;
        height: 75px;
        border: 3px solid black;
        transform: translateY(14vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 105px;
        transform: translateY(3vh);
    }
}

/* extra extra Large devices XXL devices (≥1400px) */
@media (min-width:1400px) {


    .navHomeCircleCenter {
        width: 80px;
        height: 80px;
        border: 3px solid black;
        transform: translateY(15vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 115px;
        transform: translateY(2vh);
    }
}

/* extra extra Large devices XXL devices (≥1470px) */
@media (min-width:1470px) {


    .navHomeCircleCenter {
        width: 85px;
        height: 85px;
        border: 3px solid black;
        transform: translateY(17vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 125px;
        transform: translateY(3vh);
    }
}

/* extra extra Large devices XXL devices (≥1580px) */
@media (min-width:1580px) {


    .navHomeCircleCenter {
        width: 90px;
        height: 90px;
        border: 3px solid black;
        transform: translateY(19vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        transform: translateY(3vh);
    }
}

/* extra extra Large devices XXL devices (≥1680px) */
@media (min-width:1680px) {


    .navHomeCircleCenter {
        width: 100px;
        height: 100px;
        border: 3px solid black;
        transform: translateY(20vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 125px;
        transform: translateY(3vh);
    }
}

/* extra extra Large devices XXL devices (≥1770px) */
@media (min-width:1740px) {


    .navHomeCircleCenter {
        width: 105px;
        height: 105px;
        border: 3px solid black;
        transform: translateY(22vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 135px;
        transform: translateY(3vh);
    }
}

/* extra extra Large devices XXL devices (≥1875px) */
@media (min-width:1875px) {



    .navHomeCircleCenter {
        width: 110px;
        height: 110px;
        border: 3px solid black;
        transform: translateY(24vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 135px;
        transform: translateY(1vh);
    }
}

/* extra extra Large devices XXL devices (≥1920px) */
@media (min-width:1920px) {

    .navHomeImage {
        transform: translateY(11vh);
    }

    .navHomeCircleCenter {
        width: 115px;
        height: 115px;
        border: 3px solid black;
        transform: translateY(11vh);
    }

    .navHomeCircleCenter>span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 150px;
        transform: translateY(1vh);
    }
}

/* END MEDIA QUERIES FOR NAVHOMECIRCLECENTER RAINBOW RECORD LINK/IMAGE */



/* By default, hide radial links */
.radial-links {
    display: none;
}

/* Show on large screens and up (>=1500) */
@media (min-width: 1500px) {

    .radial-links,
    .radial-links span {
        display: block;
    }

}






















/* Hide default nav links except for the rainbow record for smaller screens */
@media (max-width: 991px) {
    .mainNavUnorderedList li:not(.navHomeCenterItem) {
        display: none;
        /* Hide links */
    }

    /* Optionally make rainbow record smaller on mobile */
    .navHomeCircleCenter {
        width: 50px;
        height: 50px;
        transform: translateY(5vh);
    }

    .navHomeCircleCenter>span {
        font-size: 50px;
    }

    .radial-links {
        display: none;
        /* hide radial links on small screens */
    }

    .navHomeCenterItem {
        transform: translateY(-6vh);
        scale: 1 !important;
    }



}

@media (min-width: 992px) {

    /* removes bootstrap blue line focus on 'about us' link*/
    .nav-link:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}









/* begin styling radial links on screens smaller than 1750px and below (<=1750px) 
@media (max-width: 1750px) {

    .radial-links,
    .radial-links span {
        
        color: green !important;

        font-size: 35px !important;

    }

}  */



